:root {
    --logo-and-hover-color: #2196F3;
    --button-color: #188CE8;
    --white-color: #ffffff;
    --links-color: #212121;
    --text-color: #757575;
    --hero-bg: #2F303A;
    --what-we-do-bg: #E5E5E5;
    --our-team-bg: #F5F4FA;
    --social-media-bottons: #AFB1B8;
    /* transitions */
    --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration: 250ms;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    font-size: 14px;
    color: var(--text-color);
    letter-spacing: 0.03em;
    line-height: 1.14;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.section {
    padding: 94px 0;
}

a,
button,
input,
svg,
textarea {
    transition-property: color, background-color, border, fill, outline, box-shadow;
    transition-timing-function: var(--transition-timing);
    transition-duration: var(--transition-duration);
}

.side-padding {
    padding-left: 161px;
    padding-right: 161px;
}

/* header style */
.page-header {
    background-color: var(--white-color);
    padding: 24px 161px 25px 161px;
    /* am calculat dimensiunile ca sa corespunda pt width de 1200px 
    in loc de 1600 cat este in figma */
    border-bottom: 1px solid #ECECEC;
}

.page-header .container {
    align-items: center;
}

.logo-anchor {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    font-weight: 700;
    margin-right: 69px;
}

.logo-anchor span {
    color: var(--logo-and-hover-color);
}

.nav-links {
    letter-spacing: 0.02em;
    color: var(--links-color);
    font-weight: 500;
    display: flex;
    gap: 37px;
}

.header-contact {
    margin-left: auto;
    display: flex;
    gap: 30px;
}

.mail,
.phone {
    letter-spacing: 0.02em;
    color: var(--links-color);
    font-weight: 500;
    color: var(--text-color);
}

.header-icons {
    fill: currentColor;
    margin-right: 7px;
}

.logo-anchor:hover,
.logo-anchor:focus {
    color: var(--logo-and-hover-color);
}

.nav-links a:hover,
.nav-links a:focus {
    color: var(--logo-and-hover-color);
}

.mail:hover,
.mail:focus {
    color: var(--logo-and-hover-color);
}

.phone:hover,
.phone:focus {
    color: var(--logo-and-hover-color);
}

.undecorate-text {
    text-decoration: none;
}

.unstyle-list {
    list-style-type: none;
}

.nav-links-item {
    position: relative;
}

.current-page-indicator::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -28px;
    background-color: var(--logo-and-hover-color);
}

/*  ---- style for modal ---- */

.backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.2);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity var(--transition-duration) var(--transition-timing),
        transform 750ms var(--transition-timing);
}

.modal {
    width: 400px;
    height: 450px;
    background-color: var(--white-color);
    position: relative;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal p {
    padding: 50px;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.1);
}

.close-btn {
    color: #000000;
}

.close-btn-container {
    color: inherit;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 8px;
    top: 8px;
}

.close-btn-icon {
    fill: currentColor;
}

.close-btn:hover,
.close-btn:focus {
    color: var(--logo-and-hover-color);
}

.modal-form {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.modal-form h3 {
    text-align: center;
    font-size: 15px;
    line-height: 23px;
    font-weight: 700;
    color: var(--links-color);
}

.modal-form-icon {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 55%;
    left: 10px;
    fill: currentColor;
}

.modal-form-label:hover .modal-form-icon,
.modal-form-label:focus .modal-form-icon {
    fill: var(--logo-and-hover-color);
}

label:focus-within svg {
    fill: var(--logo-and-hover-color);
}

.modal-form-label {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    gap: 4px;
    position: relative;
    flex-basis: 100%;
    font-size: 10px;
    margin-top: 10px;
}

.modal-form-label input {
    height: 30px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 26px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-form-label input:hover,
.modal-form-label input:focus {
    border: none;
    outline: 1px solid var(--logo-and-hover-color);
}

.modal-form-label textarea:hover,
.modal-form-label textarea:focus {
    outline: 1px solid var(--logo-and-hover-color);
}

.modal-form-label textarea {
    width: 100%;
    height: 90px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 11px;
    padding: 9px 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-form-label textarea::placeholder {
    font-size: 11px;
    color: rgba(117, 117, 117, 0.5);
}


.checkbox-label {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.terms-span {
    color: var(--logo-and-hover-color);
    text-decoration: underline;
}

.terms-span:hover,
.checkbox-replacer:hover {
    cursor: pointer;
}

.checkbox-replacer {
    width: 16px;
    height: 15px;
    border: 2px solid var(--links-color);
    border-radius: 2px;
    background-color: var(--white-color);
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+.checkbox-replacer {
    border-color: #2196F3;
    background-color: #2196F3;
}

.checkbox-replacer-icon {
    width: 11px;
    height: 8px;
    opacity: 0;
    transition: opacity var(--transition-duration) var(--transition-timing);
}

input[type="checkbox"]:checked+.checkbox-replacer .checkbox-replacer-icon {
    opacity: 1;
}

.modal-form button {
    background-color: var(--button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 12px;
    padding: 8px 50px;
    margin-top: 18px;
    border: 1px solid var(--button-color);
    width: fit-content;
    align-self: center;
    color: var(--white-color);
}

.modal-form button:hover,
.modal-form button:focus {
    cursor: pointer;
    background-color: var(--logo-and-hover-color)
}

/* ---- hero style ----- */

.hero-section {
    background-color: var(--hero-bg);
    padding: 200px 0;
    text-align: center;
    background-image: url("../images/hero-img-bg.jpg");
}

.hero-section .container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.hero-title {
    color: var(--white-color);
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    font-weight: 900;
}

.hero-button {
    background-color: var(--button-color);
    color: var(--white-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding: 10px 20px;
    width: fit-content;
    border: 1px solid var(--button-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
    cursor: pointer;
    background-color: var(--logo-and-hover-color);
}

/* ----- our characteristics style ------- */

.characteristics,
.what-we-do {
    background-color: var(--what-we-do-bg);
}

.characteristics ul {
    display: flex;
    justify-content: space-between;
}

.description-card {
    width: 23%;
}

.description-image {
    display: flex;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--our-team-bg);
    justify-content: center;
    align-items: center;
}

.description-title {
    font-weight: 700;
    color: var(--links-color);
}

.description-text {
    line-height: 1.71;
    margin-top: 10px;
}

/* ----- what we do style ------- */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin: auto;
    color: var(--links-color);
}

.what-we-do .container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.presentation-image {
    display: flex;
    gap: 25px;
}

.what-we-do-image {
    width: 295px;
}

.what-we-do-card {
    position: relative;
}

.what-we-do-text {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--white-color);
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 2px;
}

/* ------ our team section style ------ */

.team-members {
    background-color: var(--our-team-bg);
}

.team-members .container {
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.team-card {
    background-color: var(--white-color);
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team {
    display: flex;
    gap: 23px;
}

.team-person-image {
    width: 215px;
    margin-bottom: 30px;
}

.person-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--links-color);
    margin-bottom: 10px;
}

.person-job {
    font-size: 16px;
    line-height: 1.18;
    padding-bottom: 16px;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.social-media-item {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--social-media-bottons);
}

.social-media-item:hover,
.social-media-item:focus {
    background-color: var(--logo-and-hover-color);
    color: var(--white-color);
}

.social-media-item a {
    color: currentColor;
    padding: 9;
}

.social-icons {
    fill: currentColor;
}

/* --- Regular Customers section --- */

.regular-customers .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regular-customors-icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 50px;
}

.customor-icon-container {
    border: 1px solid var(--social-media-bottons);
    border-radius: 4px;
    height: 75px;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--social-media-bottons);
}

.customor-icon-container:hover,
.customor-icon-container:active {
    color: var(--logo-and-hover-color);
    border: 1px solid var(--logo-and-hover-color);
}

.customor-icon-container a {
    color: currentColor;
}

.customor-icon {
    fill: currentColor;
}

/* ----- footer style ------ */

.page-footer {
    background-color: var(--hero-bg);
    padding-top: 60px;
    padding-bottom: 60px;
}

.page-footer .container {
    gap: 60px;
}

.footer-social-icons {
    padding-top: 15px;
}

.footer-social-icons .social-media-item {
    background: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
}

.footer-social-icons .social-media-item:hover,
.footer-social-icons .social-media-item:focus {
    background-color: var(--logo-and-hover-color);
}

.footer-social-icons .social-icons {
    fill: var(--white-color);
}

.footer-social-icons h4 {
    color: var(--white-color);
    font-weight: 700;
    line-height: 16.41px;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.footer-address {
    color: var(--white-color);
    font-style: normal;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-mail,
.footer-phone {
    color: rgba(255, 255, 255, 0.6);
}

.footer-logo {
    color: var(--white-color);
    margin-bottom: 28px;
}

.footer-mail:hover,
.footer-mail:focus,
.footer-phone:hover,
.footer-phone:focus {
    color: var(--logo-and-hover-color);
}

.footer-form {
    flex-grow: 1;
}

.footer-form h4 {
    font-size: 14px;
    color: var(--white-color);
}

.footer-submit-form {
    color: var(--white-color);
    font-size: 16px;
    line-height: 1.87;
    background-color: var(--button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 170px;
    min-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-label {
    display: inline-flex;
    gap: 9px;
    margin-top: 20px;
}

.email-label input {
    min-width: 268px;
    outline: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    border-color: transparent;
    background-color: var(--hero-bg);
    color: var(--white-color);
    padding: 15px;
}

.email-label input::placeholder {
    font-size: 16px;
}

.email-label input:hover,
.email-label input:focus {
    border-color: var(--button-color);
}

.footer-submit-form:hover,
.footer-submit-form:focus {
    background-color: var(--logo-and-hover-color);
    cursor: pointer;
}

.footer-send-icon {
    height: 18px;
    width: 18px;
    fill: currentColor;
    margin-left: 19px;
}


/*    ------- portofolio style --------- */
/* styling filter buttons */

.portofolio-page {
    background: var(--what-we-do-bg);
}

.portofolio-page .container {
    flex-direction: column;
    gap: 50px;
}

.filter {
    display: flex;
    gap: 8px;
    margin: auto;
}

.filter-item {
    color: var(--links-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background-color: #F5F4FA;
    border: none;
    padding: 6px 22px;
}

.filter-item:hover,
.filter-item:focus {
    background-color: var(--logo-and-hover-color);
    color: var(--white-color);
    cursor: pointer;
}

/* cards style */

.portofolio {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

.portofolio-card {
    background-color: var(--white-color);
    border: 1px solid #EEEEEE;
    flex: 1 0 280px;
}

.portofolio-card:hover,
.portofolio-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portofolio-card-image {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.portofolio-card-image img {
    width: 100%;
    vertical-align: bottom;
}

.overlay-container {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--logo-and-hover-color);
    transform: translateY(100%);
    transition: transform var(--transition-duration) var(--transition-timing);
    background: rgba(33, 150, 243, 0.9)
}

.overlay-container p {
    color: var(--white-color);
    padding: 55px 20px;
}

.portofolio-card:hover .overlay-container {
    transform: translateY(0);
}

.card-text {
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;
}

.portofolio-card-name {
    color: var(--links-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
    margin-bottom: 4px;
}

.portofolio-card-description {
    font-size: 12px;
    line-height: 1.87;
}

@media screen and (max-width: 600px) {
    main {
        font-size: 12px;
        letter-spacing: 0.02em;
        line-height: 1;
    }

    .section {
        padding: 50px 0;
    }


    .side-padding {
        padding-left: 20px;
        padding-right: 20px;
    }

    .page-header {
        padding: 10px 20px 10px 20px;
    }

    .page-header .container {
        flex-direction: column;
        gap: 10px;
    }

    .logo-anchor {
        font-size: 20px;
    }

    .current-page-indicator::after {
        bottom: -5px;
    }

    .header-contact {
        flex-direction: column;
        margin: auto;
        padding: 20px;
        gap: 15px;
    }

    .hero-title {
        font-size: 28px;
        line-height: 1.2;
        letter-spacing: 0.04em;
    }

    .hero-button {
        font-size: 14px;
    }

    .modal {
        width: 80%;
        height: 60%;
    }

    .characteristics ul {
        flex-direction: column;
        gap: 22px;
    }

    .description-card {
        width: 90%;
        margin: auto;
    }

    .presentation-image {
        flex-direction: column;
    }

    .our-team {
        flex-wrap: wrap;
    }

    .team-card {
        margin: auto;
    }

    .regular-customers h2 {
        text-align: center;
    }

    .regular-customors-icons {
        flex-wrap: wrap;
    }

    .customor-icon-container {
        width: 30%;
        margin-bottom: 15px;
    }

    .page-footer .container {
        flex-direction: column;
        gap: 20px;
    }

    /* --- portofolio --- */

    .filter {
        flex-wrap: wrap;
    }
}