:root {
    --logo-and-hover-color: #2196F3;
    --button-color: #188CE8;
    --white-color: #ffffff;
    --links-color: #212121;
    --text-color: #757575;
    --hero-bg: #2F303A;
    --what-we-do-bg: #E5E5E5;
    --our-team-bg: #F5F4FA;
    --social-media-bottons: #AFB1B8;
    /* transitions */
    --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration: 250ms;
}

$black-color: #000000;